<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <div id="app" class="container">
    <h1 id="title">Rock, paper, scissors game!</h1>
    <!-- <p>Random: {{ randomNumber }}</p>
    <p>User: {{ user }}</p> -->
    <div class="row">
      <div class="col-lg-6">
        <p>Win: {{ win }}</p>
        <p>Lose: {{ lose }}</p>
        <p>Tie: {{ tie }}</p>
      </div>
      <div class="col-lg-6">
        <p>Computer: {{ computer }}</p>
        <p>User: {{ you }}</p>
      </div>
    </div>
    <div id="buttons">
      <button v-on:click="randomGenerator(0)" class="btn btn-info">rock</button>
      <button v-on:click="randomGenerator(1)" class="btn btn-info">paper</button>
      <button v-on:click="randomGenerator(2)" class="btn btn-info">scissors</button>
      <button v-on:click="resetScoreboard" class="btn btn-danger">Reset</button>
    </div>
      <h1 v-if="bWin">You win! {{ you }} beats {{ computer }}</h1>
      <h1 v-if="bLose">You lose! {{ computer }} beats {{ you }}</h1>
      <h1 v-if="bTie">Draw!</h1>
  </div>
  <script src="./app.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
