body{
  max-width: 960px;
  margin:auto;
  background-color: #bcbfc4;
}
#title{
  text-align: center;
  font-size: 4em;
  margin-bottom: 100px;
}
#buttons{
  text-align: center;
}
.container{
  margin-top: 200px;
}
